.block-1{
    width: 500px;
    height: 40px;
    background: skyblue;
    position: sticky;
    top: 300px;
    left: 0;
    width: 100%;
}
.block-2{
    width: 500px;
    height: 40px;
    background: blue;
    position: absolute;
    left: 100px;
    top: 50px;
    z-index: 101;
}
.block-3{
    width: 500px;
    height: 40px;
    background: green;
}